@{
    @model List<GetTeaDto>
    ViewData["Title"] = "Menu";
    int counter = 1;
}

<div class="row">
    <div class="col-8">
        <table class="table text-white">
            <thead>
                <th>No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>#</th>
            </thead>

            <tbody>
                @foreach(var tea in Model)
                {
                    <tr>
                        <td>@counter</td>
                        <td>@Html.Raw(tea.Name)</td>
                        <td>@Html.Raw(tea.Description)</td>
                        <td>@Html.Raw(tea.Price)</td>
                        <td>
                            <button onclick="setTea({
                                Id: @tea.Id,
                                Description: '@tea.Description',
                                Name: '@tea.Name',
                                Price: @tea.Price,
                                DrinkType: '@Utils.GetDrinkTypeName(tea.DrinkType.ToString()!)',
                            })" class="btn btn-sm mb-2 btn-primary">Edit</button>
                            <button onclick="deleteTea(@tea.Id)" class="btn mb-2 btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
    
    <div class="col-4">
        <div class="card">
            <div class="card-body text-white bg-dark">
                <form onsubmit="addTea(event)">
                    <input hidden type="text" name="Tea-Id">
                    <div class="form-group mb-3">
                        <label for="tea-name">Name</label>
                        <input required name="Tea-Name" id="tea-name" type="text" class="form-control form-control-sm" placeholder="Tea Name">
                    </div>

                    <div class="form-group mb-3">
                        <label for="tea-description">Description</label>
                        <textarea required placeholder="Tea Description" name="Tea-Description" class="form-control form-control-sm" id="tea-description" cols="30" rows="3"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group mb-3">
                                <label for="tea-price">Price</label>
                                <input required name="Tea-Price" type="number" class="form-control form-control-sm" id="tea-price" placeholder="Tea Price">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group mb-3">
                                <label for="tea-type">Type</label>
                                <select required name="Tea-DrinkType" class="form-control form-control-sm" id="tea-type">
                                    <option value="0">Cold</option>
                                    <option value="1">Hot</option>
                                    <option value="2">Normal</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button onclick="unselectTea()" id="unselect-tea-button" type="button" class="d-none btn btn-sm btn-danger">Unselect</button>
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function addTea(e) {
        e.preventDefault();

        if($("input[name='Tea-Id']").val().length > 0) {
            return updateTea();
        }

        const formData = {
            Name: $("input[name='Tea-Name']").val(),
            Description: $("textarea[name='Tea-Description']").val(),
            DrinkType: $("select[name='Tea-DrinkType']").val(),
            Price: $("input[name='Tea-Price']").val()
        };

        $.ajax({
            url: "/Tea/AddTea",
            type: "POST",
            data: formData,
            success: function (result) {
                alert('Success');
                location.reload();
            },
            error: function (error) {
                alert('Error');
            }
        });
    }

    function deleteTea(id) {
        const isDelete = confirm('Delete this tea?');

        if(isDelete) {
            $.ajax({
                url: `/Tea/DeleteTea/${id}`,
                type: "DELETE",
                success: function (result) {
                    alert('Success');
                    location.reload();
                },
                error: function (error) {
                    alert('Error');
                }
            });
        }
    }

    function setTea(tea) {
        $("input[name='Tea-Id']").val(tea.Id);
        $("input[name='Tea-Name']").val(tea.Name);
        $("input[name='Tea-Name']").val(tea.Name);
        $("textarea[name='Tea-Description']").val(tea.Description);
        $("input[name='Tea-Price']").val(tea.Price);
        $("select[name='Tea-DrinkType']").val(tea.DrinkType);
        $("#unselect-tea-button").removeClass("d-none");
    }

    function unselectTea() {
        $("input[name='Tea-Id']").val('');
        $("input[name='Tea-Name']").val('');
        $("textarea[name='Tea-Description']").val('');
        $("input[name='Tea-Price']").val('');
        $("select[name='Tea-DrinkType']").val('');
        $("#unselect-tea-button").addClass("d-none");
    }

    function updateTea() {
        const formData = {
            Id: $("input[name='Tea-Id']").val(),
            Name: $("input[name='Tea-Name']").val(),
            Description: $("textarea[name='Tea-Description']").val(),
            DrinkType: $("select[name='Tea-DrinkType']").val(),
            Price: $("input[name='Tea-Price']").val()
        };

        $.ajax({
            url: `/Tea/UpdateTea`,
            type: "PUT",
            data: formData,
            success: function (result) {
                alert('Success');
                location.reload();
            },
            error: function (error) {
                alert('Error');
            }
        });
    }
</script>